.form_field {
	border-color: #425561;
	border-style: inset;
	border-width: 1px;
	font-size: medium;
}

label {
	font-weight: bold;
}

.submit_button {
	font-size: medium;
	font-weight: bold;
}

.id_field {
	width: 60px;
	border-color: #425561;
	border-style: inset;
	border-width: 1px;
	font-size: medium;
}

.error_icon {
	position: relative;
	top: 3px;
}

.error_message {
	color: pink;
}

.address_field {
	width: 220px;
	border-color: #425561;
	border-style: inset;
	border-width: 1px;
	font-size: medium;
}
